<div class="jumbotron text-center">
   <h1 class="blue-title">{{knight.name | uppercase }}</h1>
</div>

<div class="container">

   <div class="row content">
      <div class="col-lg-6 offset-lg-1">



         <div class="card ">
            <div class="card-header">
               <p class="card-title">
                  <strong>Knight {{knight.nickname}}</strong>
               </p>
            </div>
            <div class='card-body'>


               <p>Name: {{knight.name}} </p>
               <p>Nickname: {{knight.nickname}} </p>
               <p>Birthday: {{knight.birthday | date: "dd/MM/yyyy" }}</p>
               <p>Key Attribute: {{knight.keyAttribute}}</p>


               <p>New Nickname:</p>
               <p>
                  <input type="text" [(ngModel)]="knight.nickname" name="nickname" class="form-control" placeholder="Nickname: " />
               </p>


            </div>
         </div>





         <div class='mt-4'>

            <button (click)='back()' class='btn btn-success mr-1'>
               <span class='fa fa-angle-double-left'></span> Go Back
            </button>


            <button class='btn btn-success mr-1' (click)="updateNickname()">
               <span class='fa edit-o'></span> Update
            </button>

         </div>


      </div>
   </div>

</div>