/* You can add global styles to this file, and also import other style files */

.content{
    margin-top: 7%;
  }

  .red-title{
    color: #cc0000; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    border: auto; 
  }

  .blue-title{
    color: #000066; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    border: auto; 
  }

  .white-link{
    color: white; text-decoration: none;
  }